@import "./describe_image.css";

table {
  width: 40%;
}

input[type="password"] {
  width: 75%;
  color: rgb(203, 195, 195);
  background-color: transparent;
  border-color: var(--border_color);
  transition: 0.5s;
}

input[type="password"]:focus {
  color: white;
  background-color: transparent;
  border-radius: 3em;
  transition: 0.75s;
}

.btn {
  border-width: 1px;
  border-color: var(--border_color);
}
