/* @import "./home.css"; */
@import "./utils.css";

.res-table {
  text-align: center;
  color: aqua;
  font-size: 1.25em;
}

.res-td-bot {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.res-td-top {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

img {
  width: 30%;
  margin-bottom: 1.25em;
}

#url {
  width: 75%;
}

#person {
  width: 30%;
}