{% extends "base.html" %} {% block title %}Change password{% endblock %} {%
block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="../static/styles/change_password.css"
/>

<div class="bg">
  <form method="POST">
    <p align="center" class="p-lg">Change password</p>
    <br />
    <div class="form-group" align="center">
      <table>
        <tr>
          <td class="td-label">
            <label for="currentPassword">Current password</label>
          </td>
          <td>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              class="m-3 form-control"
              placeholder="****"
            />
          </td>
        </tr>
        <tr>
          <td class="td-label">
            <label for="newPassword1">New password</label>
          </td>
          <td>
            <input
              type="password"
              id="newPassword1"
              name="newPassword1"
              class="m-3 form-control"
              placeholder="Password123@"
            />
          </td>
        </tr>
        <tr>
          <td class="td-label">
            <label for="newPassword2">Repeat password</label>
          </td>
          <td>
            <input
              type="password"
              id="newPassword2"
              name="newPassword2"
              class="m-3 form-control"
              placeholder="Password123@"
            />
          </td>
        </tr>
        <tr>
          <td class="td-button" colspan="2">
            <button class="btn outline_btn mb-3 mt-3" type="submit">
              Change
            </button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
{% endblock %}
