{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<link rel="stylesheet" type="text/css" href="../static/styles/login.css" />

<div class="bg">
<form method="POST">
  <h1 align="center">Login</h1>
  <br />
  <div class="form-group" align="center">
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter email..."

    />
    <br />
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter password..."
    />
    <br />
    <button class="btn outline_btn" type="submit">Login</button>
  </div>
</form>
</div>

{% endblock %}
